.container {
  font-family: "Courier New", Courier, monospace;
  margin: 1.5rem;
  padding: 1.5rem;
}

.container h1 {
  color: burlywood;
  background-color: whitesmoke;
}

.pancakes {
  text-align: center;
}
.pancakes img {
  max-width: 100%;
  height: auto;
  display: block;
}

.footer {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
